body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#desktop{
    max-width: 1920px;
}

html{
    scroll-behavior:smooth;
}

/* ============================================ */
/* Nav */

#navigation {
    background: rgba(251, 251, 251, 0.5);
    height: 11.12vh;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

#navigation>#nav_left {
    display: flex;
    align-items: center;
}

.logo_baume {
    width: 4vw;
}

#name_web{
    text-transform:uppercase;
    color: #151850;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.7vw;
    padding-left: 20px;
}

#navigation>div>nav>ul {
    display:flex;
    list-style: none;
    text-transform: capitalize;
    gap:6.25rem;
    padding-left: 0;
}

#navigation>div>nav>ul>li {
    list-style: none;
}

#navigation>div>nav>ul>li>a {
    text-decoration: none;
    color:#414479;
    font-size: 1.25vw;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

#navigation>div>nav>ul>li>.contact {
    color: #fbfbfb;
    background-color:#414479;
    padding:.6875rem 3.5rem;
    border-radius: 30px;
}


/* Nav */
/* ================================================== */
/* header */

#header {
    height: 100vh;
    width: 100vw;
    background-image: url(/Github/Baume_les_messieurs_website/images/autre_2.webp);
    background-size: cover;
    position:fixed;
    top:0px;
    z-index: -1;
}

#header_logo {
    padding-left: 6.25rem;
}

#main_title {
    display: flex;
    height:calc(100vh - 11.25rem)
}

/* Logo Chapelle */
#main_title>div {
    display: flex;
    align-items: flex-end;
    padding-left: 6.25rem;
}

.chapelle {
    animation: chapelle_slide_top 1s steps(200,end) forwards;
    width: 11.7vw;
}

@keyframes chapelle_slide_top { from {height: 0vh;} to {height: 45vh;}}

#main_title>h1 {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 8.9vh;
    text-transform: uppercase;
    color: #FBFBFB;
    text-shadow: 0px 4px 25px #000000;
    padding-left: 5rem;
    margin:0;
}

#trait_1 {
    background-color: #FBFBFB;
    height:.5rem;
    width: 78.125vw;
    margin-bottom:5rem;
    margin-top: 1.875rem;
    border-radius: 25px;
}

/* header */
/* ================================================== */
/* top of page */

#top_of_page {
    height: 100vh;
    display: flex;
    padding: 0 100px;
    background-color: #FBFBFB;
    margin-top: 100vh;
}

#top_left {
    padding-top: 5%;
    width: 50vw;
}

#top_left>h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 7.77vh;
    color: #151850;
}

#top_left>h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 5.56vh;
    color: #151850;
}

#top_left>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.7vh;
    color: #445668;
}

#top_left>div {
    background-color: #414479;
    width: 70%;
    height: 5px;
    border-radius: 1.5625rem;
    margin:auto;
    margin-top: 50px;
}

#top_right {
    width: 50vw;
}

#top_right>img {
    position: relative;
    transform:translate(100px, 0px);
    height:auto;
    width: 100%;
}
/* top of page */
/* ================================================== */
/* découvrire / carousel */

.photo_carousel:hover {
    cursor: pointer;
    transform: scale(1.015);
    transition-duration: 0.3s;
}

#carousel>.activate {
    animation-duration: .5s;
    animation-name: slidein;
    width: 70%;
    opacity: unset;
    transform: unset;
}

.last {
    animation-duration: .5s;
    animation-name: slideout;
}

@keyframes slidein { from {width: 10%;} to {width: 70%;}}

@keyframes slideout { from {width: 70%;} to {width: 10%;}}

#carousel {
    background-color: #000000;
    height: 100vh;
    display: flex;
}

.photo_carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 10%;
    max-width: 70%;
    opacity: 60%;
}

.carousel_1 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/abbaye.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_2 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/grotte.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_3 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/cascade.webp);
    background-repeat: no-repeat;
    background-size:cover;
}

.carousel_4 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/reculee.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.photo_carousel>div {
    padding:2.2vh 2.6vw ;
    background: rgba(0, 0, 0, 0.8);
    height:16.7vh;
    justify-content: center;
}

#carousel>div>.hiden {
    display: none;
}

.title_carousel {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.5vh;
    color: #FDFDFD;
    margin:0 0 1.6vh 0;
    white-space: nowrap;
    animation: typing 2s steps(200,end);
}

.p_carousel {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.33vh;
    color: #FDFDFD;
    margin:0;
    white-space: nowrap;
}

.span_text_carousel {
    color: #fbfbfb;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.5vh;
    display:none;
    animation: span_text .7s steps(200,end);
    position: relative;
    top: -5.56vh;
    left: 2.6vw;
}

.span_text_carousel_2 {
    color: #fbfbfb;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.5vh;
    display:none;
    animation: span_text .7s steps(200,end);
    position: relative;
    top: -10vh;
    left: 2.6vw;
}

.typing_1 {
    animation: typing 0.7s steps(200,end);
}

.typing_2 {
    animation: typing 0.7s steps(200,end) .5s forwards;
    visibility: hidden;
}

.typing_reverse {
    animation: typing_reverse .3s steps(200,end) forwards;
}

@keyframes typing_reverse {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes span_text {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes typing {
    from { width: 0;
    visibility: visible;
    overflow: hidden;}
    to { width: 100%;
    overflow: unset;
    visibility: visible;}
  }


/* découvrire / carousel */
/* ================================================== */
/* main_container */

#main_container {
    background-color: #fbfbfb;
    background-image: url(/Github/Baume_les_messieurs_website/images/website/desktop_fond_top_corp.png);
    background-repeat: no-repeat;
}

.block_main_container {
    height:75vh;
    padding: 5.5vh 5.2vw 5.5vh;
}

.block_main_container>div {
    display: flex;
}

.main_container_div {
    width: 50vw;
}

.main_container_div>img {
    height:auto;
    width: 37vw;
}

.photo_right>img {
    padding-left: 5.2vw;
}

.transition {
    display: flex;
    justify-content: center;
}

.transition>svg{
    width: 60vw;
}

.main_container_h {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3vh;
    color: #151850;
}

.main_container_p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2vh;
    color: #738393;
}

.main_container_span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2vh;
    color: #151850;
}

/* main_container */
/* contact */

#contact_block {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fbfbfb;
}

#contact {
    height:45vh;
    background-image: url(/Github/Baume_les_messieurs_website/images/website/desktop_fond_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#contact>div>h4{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 5.5vh;
    color: #FBFBFB;
    margin:0;
    padding: 2.22vh 6.77vw;
}

#contact_block_text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5.5vw;
}

.contact_text {
    width: 40vw;
}

.contact_text>h5{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.3vh;
    color: #FBFBFB;
    margin:0;
}

.contact_text>p{ 
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.3vh;
    color: #FBFBFB;
}

iframe{
    height: 50vh;
    width: 100%;
}

#line_contact {
    width: 33vw;
    height: 0.6vh;
    background-color: #151850;
    border-radius: 25px;
    margin: auto;
}
/* contact */
/* galerie photo */

#galery {
    height:100vh;
    background-color: #fbfbfb;
    padding: 5.56vh 0;
    box-sizing: border-box;
    display: flex;
}

.arrow {
    width: 15%;
    margin: 3.33vh 1.56vw;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(40%);
    display: flex;
    justify-content: center;
}

.arrow:hover {
    filter: brightness(30%);
    transform: scale(1.005);
}

.img_arrow {
    padding-top: 35.2vh;
    display: none;
    animation: img_arrow_pop .3s steps(40,end);
}

@keyframes img_arrow_pop { from {opacity: 0;} to {opacity: 1;} }

#galery_main {
    width: 70%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* galerie photo */
/* footer start */

#footer {
    display: flex;
    flex-direction: column;
    background-image: url(/Github/Baume_les_messieurs_website/images/website/desktop_fond_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#nav_footer {
    display: flex;
    padding: 3vh 5.2vw 0 5.2vw;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

#title_nav_footer {
    display: flex;
}

#title_nav_footer > h5 {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 3.8vh;
    text-align: center;
    color: #414479;
    text-transform: uppercase;
}

.logo_baume_nav_footer {
    width: 4vw;
    padding: 0 .5vw;
}

#div_logo {
    display: flex;
    gap:30px;
}

.logo {
    width: 3.64vw;
    height: 7.78vw;
}

.logo > svg {
    cursor: pointer;
}

#line_3 {
    width: 89vw;
    height: .55vh;
    background: #414479;
    border-radius: 20px;
    margin: 0 auto;
}

#newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newsletter > h5 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.8vh;
    color: #414479;
}

#newsletter > div {
    display: flex;
    gap: 1.5vw;
}

#input_email {
    padding: .9vh 25vw .9vh 0;
    border-radius: 25px;
    border: 3px solid #414479;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.7vh;
    color: #738393;
    text-align:start;
    text-indent: 2vw;
}

#input_email::placeholder {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.7vh;
    color: #738393;
    text-align: start;
    text-indent: 1.875rem;
}

#btn_mail {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 3.6vh;
    text-align: center;
    color: #FBFBFB;
    background: #414479;
    border-radius: 50px;
    padding: 1vh 2.5vw;
    border: none;
}

#main_footer > p {
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.5vh;
    color: #738393;
    padding-top: 7vh;
    padding-bottom: 4vh;
}

/* footer end */