body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#desktop{
    max-width: 1920px;
}

#test {
    background-color: blue;
    width: 100vw;
    height: 100vh;
}

/* ============================================ */
/* Nav */

#navigation {
    background: rgba(251, 251, 251, 0.5);
    height: 11.12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

#navigation>#nav_left {
    display: flex;
    align-items: center;
}

.logo_baume {
    width: 4vw;
}

#name_web{
    text-transform:uppercase;
    color: #151850;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.7vw;
    padding-left: 20px;
}

#navigation>div>nav>ul {
    display:flex;
    list-style: none;
    text-transform: capitalize;
    gap:6.25rem;
    padding-left: 0;
}

#navigation>div>nav>ul>li {
    list-style: none;
}

#navigation>div>nav>ul>li>a {
    text-decoration: none;
    color:#414479;
    font-size: 1.25vw;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

#navigation>div>nav>ul>li>.contact {
    color: #fbfbfb;
    background-color:#414479;
    padding:.6875rem 3.5rem;
    border-radius: 30px;
}


/* Nav */
/* ================================================== */
/* header */

#header {
    height: 100vh;
    width: 100vw;
    background-image: url(/Github/Baume_les_messieurs_website/images/autre_2.JPG);
    background-size: cover;
    position: fixed;
    top:0px;
    z-index: -1;
}

#header_logo {
    padding-left: 6.25rem;
}

#main_title {
    display: flex;
    height:calc(100vh - 11.25rem)
}

/* Logo Chapelle */
#main_title>div {
    display: flex;
    align-items: flex-end;
    padding-left: 6.25rem;
}

.chapelle {
    width: 11.7vw;
}

#main_title>h1 {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 4.16vw;
    text-transform: uppercase;
    color: #FBFBFB;
    text-shadow: 0px 4px 25px #000000;
    padding-left: 5rem;
    margin:0;
}

#trait_1 {
    background-color: #FBFBFB;
    height:.5rem;
    width: 78.125vw;
    margin-bottom:5rem;
    margin-top: 1.875rem;
    border-radius: 25px;
}

/* header */
/* ================================================== */
/* top of page */

#top_of_page {
    margin-top: 100vh;
    height: 100vh;
    display: flex;
    padding: 0 100px;
    background-color: #FBFBFB;
}

#top_left {
    padding-top: 5%;
    width: 50vw;
}

#top_left>h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.64vw;
    color: #151850;
}

#top_left>h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2.6vw;
    color: #151850;
}

#top_left>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.25vw;
    color: #445668;
}

#top_left>div {
    background-color: #414479;
    width: 70%;
    height: 5px;
    border-radius: 1.5625rem;
    margin:auto;
    margin-top: 50px;
}

#top_right {
    width: 50vw;
}

#top_right>img {
    position: relative;
    transform:translate(100px, 0px);
    height:auto;
    width: 100%;
}
/* top of page */
/* ================================================== */
/* découvrire / carousel */

.photo_carousel:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition-duration: 0.3s;
}

#carousel>.activate {
    animation-duration: .5s;
    animation-name: slidein;
    width: 70%;
    opacity: unset;
}

.last {
    animation-duration: .5s;
    animation-name: slideout;
}

@keyframes slidein {
    from {
      width: 10%;
    } 

    to {
        width: 70%;
    }
}

@keyframes slideout {
    from {
      width: 70%;
    } 

    to {
        width: 10%;
    }
}

#carousel {
    background-color: #000000;
    height: 100vh;
    display: flex;
}

.photo_carousel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 10%;
    max-width: 70%;
    opacity: 60%;
}

.carousel_1 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/abbaye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_2 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/grotte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_3 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/cascade.JPG);
    background-repeat: no-repeat;
    background-size:cover;
}

.carousel_4 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/reculee.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.photo_carousel>div {
    display: flex;
    flex-direction: column;
    padding:3.12rem;
    background: rgba(0, 0, 0, 0.5);
    height:16.7vh;
    justify-content: center;
}

.title_carousel {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 4.5vh;
    color: #FDFDFD;
    margin-bottom: 10px;
}

.p_carousel {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.33vh;
    color: #FDFDFD;
}

#carousel>div>.hiden {
    display: none;
}

/* découvrire / carousel */
/* ================================================== */
/* corp de page */

#corp_de_page {
    background-color: #fbfbfb;
    background-image: url(/Github/Baume_les_messieurs_website/images/website/desktop_fond_top_corp.png);
    background-repeat: no-repeat;
}

.block_corp_de_page {
    height:75vh;
    padding: 5.5vh 5.2vw 5.5vh;
}

.block_corp_de_page>div {
    display: flex;
}

.corp_div {
    width: 50vw;
}

.corp_div>img {
    height:75vh;
    width: auto;
}

.photo_right {
    display: flex;
    justify-content: right;
}

.transition {
    display: flex;
    justify-content: center;
}

.transition>svg{
    width: 60vw;
}

.corp_h {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3vh;
    color: #151850;
}

.corp_p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2vh;
    color: #738393;
}

.corp_span {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2vh;
    color: #151850;
}
/* corp de page */