body{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#desktop{
    max-width: 1920px;
}

/* ================================================== */
/* header */

#header {
    height: 100vh;
    background-image: url(/Github/Baume_les_messieurs_website/images/autre_2.JPG);
    background-size: cover;
}

#header_logo {
    padding-left: 6.25rem;
}

#main_title {
    display: flex;
    height:calc(100vh - 11.25rem)
}

#main_title>div {
    display: flex;
    align-items: flex-end;
    padding-left: 6.25rem;
}

#main_title>h1 {
    display: flex;
    align-items: flex-end;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 65px;
    text-transform: uppercase;
    color: #FBFBFB;
    text-shadow: 0px 4px 25px #000000;
    padding-left: 5rem;
    margin:0;
}

#trait_1 {
    background-color: #FBFBFB;
    height:.5rem;
    width: 84.375rem;
    margin-bottom:5rem;
    margin-top: 1.875rem;
    border-radius: 25px;
}

/* header */
/* ================================================== */
/* Nav */

#navigation {
    background: rgba(251, 251, 251, 0.5);
    height: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

#name_web{
    text-transform:uppercase;
    color: #414479;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

#navigation>nav>ul {
    display:flex;
    list-style: none;
    text-transform: capitalize;
    gap:6.25rem;
    padding-left: 0;
}

#navigation>nav>ul>li {
    list-style: none;
}

#navigation>nav>ul>li>a {
    text-decoration: none;
    color:#414479;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}

#navigation>nav>ul>li>.contact {
    color: #fbfbfb;
    background-color:#414479;
    padding:.6875rem 3.5rem;
    border-radius: 30px;
}


/* Nav */
/* ================================================== */
/* top of page */

#top_of_page {
    display: flex;
    min-height: 100vh;
    padding: 0 100px;
}

#top_left {
    margin-top: 8%;
    width: 50vw;
}

#top_left>h1 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 3.64vw;
    color: #151850;
}

#top_left>h2 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    color: #151850;
}

#top_left>p {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    color: #738393;
}

#top_left>div {
    background-color: #414479;
    width: 70%;
    height: 5px;
    border-radius: 1.5625rem;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

#top_right {
    width: 50vw;
}

#top_right>img {
    position: relative;
    transform:translate(100px, 0px);
    z-index: -1;
    height:auto;
    width: 100%;
}
/* top of page */
/* ================================================== */
/* découvrire / carousel */

.photo_carousel:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.photo_carousel {
    transition: transform .3s
}

.activate {
    animation-duration: .5s;
    animation-name: slidein;
    width: 70%;
}

@keyframes slidein {
    from {
      width: 10%;
    } 

    to {
        width: 70%;
    }
}

#discover {
    height: 100vh;
    display: flex;
    background: rgb(15, 15, 15);
}

.photo_carousel {
    min-width: 10%;
    max-width: 70%;
}

.carousel_1 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/abbaye.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_2 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/grotte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel_3 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/cascade.JPG);
    background-repeat: no-repeat;
    background-size:cover;
}

.carousel_4 {
    background-image: url(/Github/Baume_les_messieurs_website/images/carousel_discover/reculee.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

/* découvrire / carousel */
/* ================================================== */